@use 'settings';

.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 5rem;
    width: 87%;
    margin-left: 1.5rem;
    
    
    &:hover{
        background-color: $LineHeigh;
        cursor: pointer;
    }
    a {
        text-decoration: inherit;
    }
}

.card-titles {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
    p {
        margin-top: 0.50rem;
        color: $TextLight;
        font-size: 1rem;
    }
    h2 {
        color: $TextDark;
    }
    
}

.card-icon {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 2rem;
}


.card-errorMsg{
    color: $TextError;
    font-weight: bold;
    font-size: 1.25rem;
    margin-left: 7rem;
    margin-top: 1rem;
}

.fake-line {
    width: 95%;
    height: 2px;
    border-top: 1px $LineHeigh solid;
    line-height: 10px;
    margin-top: 0rem;
    margin-left: 1.64rem;
}

.anticon svg {
    color: $TextDark;
    margin-bottom: 2.25rem;
}

.isActive {
    background-color: $LineHeigh;
}
.isntActive {
    background-color: transparent;
}