@use 'settings';

h1 {
    color: $TextDark;
}
.peopleDetail-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    
}
.peopleDetail-contain {
    width: 70%;
    ul {
        padding: 0;
    }
    li {
        display: flex;
        list-style: none;
        height: 5rem;
        justify-content: space-between;
        align-items: center;
    }
}
.peopleDetail-list {
    margin-top: 1rem;
    h2 {
        color: $TextLight;
    }
    p {
        font-size: 1.50rem;
        font-weight: bold;
    }
}

.people-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.peopleDetail-text-color {
    color: $TextLight;
    margin-bottom: 1rem;
   
}

.peopleDetail-vehicles {
    display: flex;
    flex-direction: column;
}

.fake-line2 {
    width: 100%;
    height: 2px;
    border-top: 2px $LineHeigh solid;
    line-height: 10px;
    
}
