//Root Colors
$RanvBlack: #121212;
$TextDark: #333333;
$TextLight: #828282;
$TextError: #EC5757;
$Base: #FFF;
$LineHeigh: #D1D1D1;
//Spinner Colors
$spinner-size: 75px !default;
$spinner-color: #69717d !default;
$overlay-color: black !default;